/*==================
Author : Artech
Author URI : https://themeturn.com/
================================*/
/*------------------------------------------------------------------
[Table of contents]
1. Common
2. Button Style
3. Typography
4. Banner Area
5. Header Topbar
6. Navigation / #navbar
7. Menu
8. Dropdown Menu
9. Search Options
10. Menu Transparent
11. Banner
12. Feature
13. Feature styles 2
14. Popular Courses
15. Course Block
16. Category Section
17. About Section
18. Counter Inner / Counter Wrap
19. Course Filter Tab
20. Video Section
21. Testimonial
22. Rating
23. Review-item / Client-img
24. Team Section
25. Footer Section / #footer
-------------------------------------------------------------------*/
body, html {
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  width: 18px;
  background: black

}
::-webkit-scrollbar-thumb {
  background: rgb(56, 54, 54);
  border-radius: 50px;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(238, 122, 122, 0);
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 19px;
  line-height: 30px;
  margin: 0;
  text-align: left;
  background-color: rgba(0, 119, 181, 0.2);
  font-weight: 400;
  color: #2b2a2a;
  overflow-x: hidden;
}
p {
  color: #2b2a2a;
  font-family: "Josefin Sans", sans-serif;
  line-height: 28px;
  font-size: 19px;
}

/*--------------------
 TYPOGRAPHY
-----------------*/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0px;
  color: #01376d;
}
.h1,
h1 {
  font-size: 46px;
}
.h2,
h2 {
  font-size: 32px;
}
.h3,
h3 {
  font-size: 28px;
}
.h4,
h4 {
  font-size: 22px;
}
.h5,
h5 {
  font-size: 18px;
}
.h6,
h6 {
  font-size: 16px;
}
.text-sm {
  font-size: 14px;
}

.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #07294D;
}

.h1 a:hover,
.h2 a:hover,
.h3 a:hover,
.h4 a:hover,
.h5 a:hover,
.h6 a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #0077b5;
}

/*-------------------
BUTTONS STYLE
----------------=----*/
.btn {
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
  padding: 16px 30px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  border: 1px solid transparent;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  transition: all 0.3s ease-in-out;
}
.btn:focus {
  box-shadow: none !important;
}
.btn-main {
  background: #0077b5;
  color: #fff;
  border-color: #0077b5;
}
.btn-main:hover {
  color: #fff;
  border-color: #385777;
  background: #385777;
}
a {
  color: #0077b5;
  outline: none;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #01376d;
  outline: none;
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:focus, a:visited {
  outline: none;
}
ul, ol {
  margin-bottom: 0px;
  list-style-type: none;
  padding-left: 0px;
}
.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.form-control {
  transition: all 0.3s ease-in-out;
}
.form-control:focus {
  box-shadow: none;
}

/*====================
BANNER AREA
======================*/
.section-padding {
  padding: 70px 0px;
}
.page-header {
  padding: 120px 0px;
  background: #F4FDFF;
  position: relative;
  background: url("../images/banner.jpeg") no-repeat;
  background-size: cover;
  background-position: 0px 10%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  border-radius: 8px;
}
.page-header:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: .9;
  border-radius: 8px;
}
.page-header .page-header-content h1 {
  color: #fff;
  font-size: 60px;
  text-transform: capitalize;
}
.page-header .page-header-content ul li {
  margin-bottom: 35px;
  font-size: 36px;
  line-height: 32px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 1em;
}
.page-header .page-header-content ul li a {
  color: #fff;
}
.bg-grey {
  background: #F7F5F4;
}
.center-heading {
  text-align: Center;
}
.center-heading .subheading {
  padding-left: 0px;
  color: #FF1949;
}
.center-heading .subheading:before {
  display: none;
}
.center-heading h3 {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.center-heading h3:before {
  position: absolute;
  content: "";
  left: 0px;
  right: 0px;
  width: 40px;
  height: 2px;
  bottom: 0px;
  margin: 0px  auto;
  background: #FF1949;
}

/*=======================
HEADER TOPBAR
============================*/
.header-top {
  background: #07294D;
}
.header-contact li {
  color: #fff;
  font-size: 15px;
}
.header-contact li i {
  margin-right: 6px;
}
.header-contact li span {
  font-weight: 600;
}
.header-contact li:last-child {
  padding-left: 20px;
}
.header-contact li, .header-socials li {
  float: left;
}
.header-socials {
  display: inline-block;
  vertical-align: middle;
}
.header-socials li {
  padding: 0px 10px;
  font-size: 16px;
}
.header-socials li a {
  color: #fff;
}
.header-btn {
  margin-left: 25px;
  display: inline-block;
  vertical-align: middle;
}
.header-btn .btn {
  color: #fff;
  background: #0077b5;
  border-radius: 0px;
  padding: 12px 30px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
}

/*-------------------
  NAVIGATION / #navbar
----------------------*/
/*-------------------
  MENU
----------------------*/
.site-navigation {
  border-bottom: 3px solid #0077b5;
  border-radius: 8px;
  padding: 12px 0px;
}
.navbar {
  padding: 0px;
}
.navbar-nav .nav-link {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 15px;
  color: #111;
}
.navbar-nav .nav-link:hover {
  color: #0077b5;
}
.navbar-nav .nav-link i {
  margin-left: 5px;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  content: "";
  vertical-align: middle;
  background: no-repeat 50%;
  background-size: 100% 100%;
}

/*-------------------
  DROPDOWN MENU
----------------------*/
.dropdown-menu.show{
  -webkit-animation: .2s forwards b;
  animation: .2s forwards b;
}
.dropdown-item {
  padding-top: .3rem;
  padding-bottom: .5rem;
  transition: background-color .1s;
  text-transform: capitalize;
  border-bottom: 1px solid #000;
  color: #e4e4e4;
  text-decoration: none;
}
.dropdown-item:last-child {
  border-color: transparent;
}
.dropdown-item:hover {
  color: #fff;
  font-weight: 500px;
  font-size: 18px;
  text-decoration: none;
  background-color: rgba(0, 119, 181, 0.8);
  border-radius: 5px;
}
.dropdown-toggle::after {
  display: none;
}
.nav-item.dropdown .dropdown-menu {
  height: auto;
  min-width: 220px;
  display: block;
  position: absolute;
  border-top: 2.8px solid #0077b5;
  border-radius: 8px;
  background-color:  rgba(55, 54, 54, 0.5);
  backdrop-filter: blur(5px);
  padding: 0px;
  visibility: hidden;
  transition: all 300ms ease;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3), -2px 0px 5px 1px rgba(0, 0, 0, 0.3);
}
.btn-small {
  padding: 11px 24px;
}
.btn-small i {
  margin-right: 5px;
}
.header-form {
  position: relative;
}
.header-form .form-control {
  height: 50px;
  background: rgba(0, 119, 181, 0.3);
  color: #000;
  border: 0px solid transparent;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
}
.header-form i {
  position: absolute;
  right: 14px;
  top: 15px;
}

/*==============
 SEARCH OPTIONS
 ============= */
.search-wrap {
  position: relative;
  z-index: 1200;
  top: 20px;
  right: 16px;
  display: block;
  float: right;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: opacity .35s, visibility .35s, height .4s;
  opacity: 0;
  background: #1f1f1f;
}
.overlay.open {
  visibility: visible;
  height: 100%;
  opacity: 1;
}
.overlay .search-form {
  position: relative;
  height: 400px;
  padding-top: 120px;
  background: #222;
}
.search-form .form-control {
  height: 50px;
}
.search-form h3 {
  color: #fff;
  margin-bottom: 28px;
  font-weight: 400;
}
.search-close {
  margin-top: 0px;
}
.search-close:hover {
  cursor: pointer;
}

/* ================
 MENU TRANSPARENT
================*/
.menu-2 .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: 15px;
}
.nav-link.active {
  color: #0077b5;
}

/* ================
 BANNER
================*/
.banner {
  padding: 130px 0px;
  padding-bottom: 180px;
  background-size: cover;
  position: relative;
  padding-top: 100px;
  background: url("../images/banner.jpeg") center center no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 8px;
}
.banner:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: .9;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}
.banner .banner-content h1 {
  font-size: 56px;
  margin: 15px 0px 45px;
  line-height: 65px;
  letter-spacing: -1.3px;
  color: #fff;
}
.banner-content ul li{
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.6px;
  margin: 0 5px;
  padding: 0 5px;
  position: relative;
  z-index: 1;
}
.banner-content ul li::after {
  position: absolute;
  right: -5px;
  top: 6px;
  content: "";
  height: 15px;
  width: 1px;
  background: rgba(255, 255, 255, 0.6);
}
.banner-content ul {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.banner-content ul li i {
  color: #ffb606;
  font-size: 24px;
  margin-right: 10px;
}
.banner-content ul li:last-child::after {
  display: none;
}
.banner .banner-content p {
  margin-bottom: 35px;
  color: #fff;
  opacity: .8;
  font-size: 18px;
  line-height: 32px;
}
#breadcrumps{
  color: #0077b5;
}
#breadcrumps:hover{
  color: #3bc0c3;
  border-bottom: 5px solid #3bc0c3;
  transition: .07s ease-in-out;
}
.banner .banner-content .subheading {
  color: #fff;
  margin-bottom: 0px;
}
.subheading {
  text-transform: uppercase;
  font-size: 15px;
  color: #FF1949;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  padding-left: 50px;
  display: inline-block;
}
.subheading:before {
  position: absolute;
  content: "";
  left: 0px;
  width: 40px;
  height: 2px;
  background: #0077b5;
  top: 0px;
  bottom: 0px;
  margin: auto 0px;
}

/* ================
FEATURE
================*/
.feature {
  margin-top: -70px;
}
.feature-item {
  padding: 30px 35px;
  margin-bottom: 25px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
  margin: 0px 5px;
  border-radius: 5px;
  border-top: 2px solid #0077b5;
  display: flex;
  transition: .4s;
  margin-bottom: 20px;
}
.feature-item h4 {
  margin-bottom: 20px;
  transition: .4s;
}
.feature-item:hover {
  margin-top: -10px;
}
.feature-item:hover .feature-icon {
  color: #0077b5;
}
.feature-icon {
  font-size: 40px;
  float: left;
  margin-right: 25px;
  color: #385777;
  margin-top: 5px;
  transition: .4s ease;
}
.feature-text {
  overflow: hidden;
}

/* ====================
FEATURE STYLE 2
======================*/
.feature-item.feature-style-2 {
  display: block;
  box-shadow: none;
  margin-bottom: 0px;
  padding: 25px;
  background: #fff;
  box-shadow: 0px .5px 8px 0px rgba(0, 0, 0, 0.5);
  border-top: 0px;
}
.feature-item.feature-style-2:hover {
  border-color: transparent;
  background: #0077b5;
}
.feature-item.feature-style-2:hover .feature-icon {
  color: #fff;
}
.feature-item.feature-style-2:hover h4 {
  color: #fff;
}
.feature-item.feature-style-2:hover p {
  color: #fff;
}
.feature-item.feature-style-2 .feature-icon {
  float: none;
  margin-right: 0px;
  margin-bottom: 15px;
  font-size: 50px;
  color: #0077b5;
}
.feature-item.feature-style-2 h4, .feature-item.feature-style-2 p, .feature-item.feature-style-2 .feature-icon {
  transition: .4s ease;
}

/*======================
POPULAR COURSES
============================*/
.section-heading {
  margin-bottom: 60px;
}
.section-heading h3 {
  font-size: 36px;
}
.popular-course {
  padding-bottom: 200px;
}
.popular-course .course-btn {
  margin-bottom: 60px;
}

/*=================
COURSE BLOCK
==================*/
.course-block {
  background: rgba(0, 119, 181, 0.3);
  transition: .4s;
  margin-bottom:25px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}
.course-block:hover {
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.9);
  border-color: transparent;
}
.course-block .course-content {
  padding: 20px;
}
.course-block .course-content h4 {
  margin: 10px 0px;
}
.course-block .course-footer {
  border-top: 1px solid #e2f4ff;
  padding-top: 15px;
  margin-top: 30px;
}
.course-img {
  position: relative;
  margin-bottom: 10px;
}
.course-img img {
  border-radius: 5px;
}
.course-img .course-label {
  position: absolute;
  content: "";
  left: 20px;
  top: 20px;
  background: #fff;
  padding: 2px 10px;
  border-radius: 5px;
  font-weight: 700;
  color: #385777;
  border: 1px solid #F3F5F9;
}

/*=======================
CATEGORY SECTION
========================*/
.category-section2 {
  margin-top: -120px;
  position: relative;
}
.school-categories {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: -10px 0 7px;
  padding-top: 10px;
  overflow-x: auto;
  width: 100%;
}
.school-categories .category-item {
  width: calc(20% - 10px);
  padding: 15px;
  margin: 0 0 33px;
  min-height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.9);
}
.school-categories .category-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  border-radius: 10px;
}
.school-categories .category-item i {
  display: block;
  font-size: 64px;
  color: #fff;
  margin-bottom: 30px;
}
.school-categories .category-item h4 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 0px;
}
.school-categories .category-item p {
  color: #fff;
  margin-bottom: 0px;
}
.category-bg-1 {
  background: #D94DA6;
}
.category-bg-2 {
  background: #307AD5;
}
.category-bg-3 {
  background: #EAB830;
}
.category-bg-4 {
  background: #FF1949;
}

/* ====================
ABOUT SECTION
======================*/
.about-section .section-heading {
  margin-bottom: 30px;
}
.about-content .btn {
  margin-top: 10px;
}
.about-text-block {
  position: relative;
  background: #F9F9F9;
  padding: 25px 30px 15px 95px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.about-text-block i {
  position: absolute;
  font-size: 40px;
  left: 25px;
  top: 26px;
  color: #FF1949;
}
.about-text-block h4 {
  margin-bottom: 10px;
  font-size: 20px;
}
.about-img2 {
  padding-right: 30px;
}
.about-2 p {
  margin-bottom: 30px;
}

/*========================
 COUNTER INNER / COUNTER WRAP
==========================*/
.counter-inner {
  background: #0077b5;
  padding: 50px 50px 30px 50px;
  border-radius: 10px;
  position: relative;
}
.counter-inner:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url("../images/bg/bg-do2.png");
  opacity: .3;
}
.counter-wrap .counter-item {
  text-align: center;
}
.counter-wrap .counter-item .counter {
  font-size: 50px;
  margin: 15px 0px;
  display: inline-block;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
}
.counter-wrap .counter-item i {
  font-size: 50px;
  color: #fff;
}
.counter-wrap .counter-item p {
  font-size: 18px;
  margin-bottom: 0px;
  color: #fff;
}
.counter-section {
  position: relative;
  background: #0077b5;
}
.counter-section:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url("../images/bg/bg-do2.png");
  opacity: .3;
}

/*========================
COURSE FILTER TAB
==========================*/
.course-filter {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 50px;
}
.course-filter li {
  display: inline-block;
}
.course-filter li a {
  font-size: 13px;
  margin: 0;
  padding: .5em 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #414141;
  border-radius: 5px;
}
.course-filter li a:hover, .course-filter li.active a, .f-link li a:hover, .f-link li.active a {
  color: #fff;
  background: #0077b5;
}
.course.gutter .course-item {
  padding: 10px;
}

/* ====================
VIDEO SECTION
======================*/
.video-section {
  position: relative;
  overflow: hidden;
  padding: 100px 0px;
  background: #e8e8e8;
}
.video-section .section-heading {
  padding-right: 43px;
  margin-bottom: 0px;
}
.video-section .section-heading h3 {
  font-size: 60px;
}
.video-section .video-block-container {
  background-image: url("../images/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  position: absolute;
  content: "";
  right: 0px;
  top: 0px;
  height: 100%;
}
.video-section .video-block-container:before {
  position: absolute;
  content: "";
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(7, 41, 77, 0.9);
  z-index: 1;
}
.video-block {
  position: relative;
}
.video-block:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(7, 41, 77, 0.9);
}
.video-block:after {
  position: absolute;
  content: "";
  background: #FF1949;
  left: 0px;
  right: 0px;
  bottom: -32px;
  width: 80%;
  height: 30%;
  z-index: -1;
  opacity: .3;
  margin: 0px auto;
}
.video-icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  z-index: 3;
  text-align: center;
  padding-top: 36px;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  background-color: #FF1949;
  border-radius: 100%;
  color: #fff;
}
.video-icon::after, .video-icon::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  border: 1px solid #fff;
}
.video-icon::before {
  -webkit-animation: ripple 2s linear infinite;
          animation: ripple 2s linear infinite;
}
.video-icon::after {
  -webkit-animation: ripple 2s linear 1s infinite;
          animation: ripple 2s linear 1s infinite;
}
.video-icon:hover {
  background-color: #FF1949;
}
@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}
@keyframes ripple {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

/* ====================
TESTIMONIAL
======================*/
.testimonials-slides .owl-item.active.center .review-item {
  opacity: 1;
}
.testimonials-slides .owl-item.active.center .review-item .client-info {
  background: #222;
  border: 1px solid #222;
  border-top: 4px solid #0077b5;
}
.testimonials-slides .owl-item.active.center .review-item .client-info:before {
  border-top: 30px solid #222;
  opacity: 1;
}
.testimonials-slides .owl-item.active.center .review-item .client-info i {
  color: #fff;
}
.testimonials-slides .owl-item.active.center .review-item .client-info p {
  color: #fff;
}
.testimonials-slides .owl-item.active.center .review-item .client-info .rating i {
  color: #f2b827;
}

/*=======================
RATING
========================*/
.rating {
  margin-bottom: 10px;
  font-size: 13px;
}
.rating i {
  color: #f2b827;
}
.rating span {
  color: #222;
  margin-left: 10px;
}

/*=======================
REVIEW-ITEM / CLIENT-IMG
========================*/
.review-item {
  transition: 0.5s;
  opacity: .7;
}
.review-item .client-img {
  width: 90px;
  height: 90px;
  margin-left: 15px;
}
.review-item .client-img img {
  border-radius: 100%;
}
.review-item .client-desc {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.review-item .client-text {
  margin-left: 20px;
}
.review-item .client-text h4 {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 20px;
}
.review-item .client-text .designation {
  font-size: 16px;
  color: #FF1949;
}
.review-item .client-info {
  margin-bottom: 25px;
  border-radius: 14px;
  padding: 40px 30px 30px 40px;
  position: relative;
  border: 1px solid #2e2e2e;
}
.review-item .client-info .rating i {
  font-size: 14px;
  color: #f2b827;
  opacity: 1;
}
.review-item .client-info i {
  font-size: 60px;
  opacity: .4;
}
.review-item .client-info:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 31px solid transparent;
  border-top: 30px solid #0EB582;
  bottom: -25px;
  opacity: 0;
}
.review-item p {
  font-size: 18px;
  line-height: 33px;
  margin: 20px 0px;
}

/*====================
 TEAM SECTION
=====================*/
.team {
  position: relative;
  padding-bottom: 70px;
}
.team:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url("../images/bg/bg-7.png") center center;
  background-size: cover;
  opacity: .8;
}
.team {
  text-align: center;
  border: 2px solid #fff;
  padding: 30px 20px 40px 20px;
  transition: .4s;
  background: #fff;
  position: relative;
  margin-bottom: 30px;
}
.team-item{
  text-align: center;
  border-block: 3px solid #0077b5;
  border-radius: 7px;
  padding: 30px 20px 40px 20px;
  transition: .4s;
  background: #fff;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
}
.team .team-item:hover img {
  margin-top: -10px;
}
.team .team-item:hover .team-socials {
  opacity: 1;
}
.team .team-item:hover {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.7);
  background: rgba(0, 119, 181, 0.5)
}
.team .team-item img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin: 0px auto;
  transition: .4s;
}
.team .team-item .team-info {
  margin-top: 30px;
  position: relative;
  height: 60px;
}
.team .team-item .team-info h4 {
  margin-bottom: 0px;
}
.team .team-item .team-info p {
  color: #FF1949;
}
.team-socials {
  opacity: 0;
  transition: .4s;
  position: absolute;
  bottom: -56px;
  left: 0px;
  right: 0px;
  text-align: center;
}
.team-socials li {
  margin-right: 0px !important;
}
.team-socials a {
  display: block;
}
.team-socials a i {
  width: 35px;
  height: 35px;
  text-align: center;
  background: #222;
  display: inline-block;
  line-height: 36px;
  border-radius: 100%;
  color: #fff;
  font-size: 13px;
  transition: .4s;
}
.team-socials a .fa-twitter {
  background: #2c2d2e;
}
.team-socials a .fa-facebook {
  background: #2c2d2e;
}
.team-socials a .fa-linkedin {
  background: #2c2d2e;
}
.team-socials a i.fa-twitter:hover  {
  background: #1da1f2;
}
.team-socials a i.fa-facebook:hover  {
  background: #3b5998;
}
.team-socials a i.fa-linkedin:hover  {
  background: #0077b5;
}

/* ====================
FOOTER SECTION
======================*/
.footer {
  background: #100f1f;
  padding: 80px 0px 0px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}
.footer .footer-widget .widget-title {
  color: #fff;
  margin-bottom: 20px;
  font-size: 22px;
}
.footer .footer-widget p {
  color: rgba(255, 255, 255, 0.8);
}
.footer .footer-contact ul {
  margin-top: 30px;
}
.footer .footer-contact ul li {
  margin-bottom: 20px;
}
.footer .footer-contact ul li i {
  color: #0077b5;
  float: left;
  margin-top: 7px;
  min-width: 30px;
}
.footer .footer-contact ul li div {
  overflow: hidden;
  font-size: 14px;
}
.footer .footer-contact ul li div strong {
  display: block;
  text-transform: capitalize;
  font-size: 16px;
}
.footer .footer-links li {
  padding: 5px 0px;
}
.footer .footer-links a {
  color: rgba(255, 255, 255, 0.8);
}
.footer .footer-links a:hover {
  color: #0077b5;
}
.footer .footer-socials {
  margin-top: 30px;
}
.footer .footer-socials a{
  width: 40px;
  height: 40px;
  background: #fff;
  display: inline-block;
  text-align: center;
  padding-top: 6px;
  font-size: 14px;
  color: #222;
  border-radius: 100%;
}
/* Facebook */
.footer .footer-socials li:nth-child(1) a:hover {
  background: #3b5998;
  color: #fff;
}
/* Twitter */
.footer .footer-socials li:nth-child(2) a:hover {
  background: #1da1f2;
  color: #fff;
}
/* linkedin */
.footer .footer-socials li:nth-child(3) a:hover {
  background: #0077b5;
  color: #fff;
}
/* Pinterest */
.footer .footer-socials li:nth-child(4) a:hover {
  background: #f92b39;
  color: #fff;
}
.footer-btm {
  margin-top: 30px;
  padding: 20px 0px 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-btm .copyright p {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0px;
}

